body {
    height: 100vh;
}

ul li {
    border: 1px solid red;
    background-color: green;
    color: white;
    font-weight: bold;
}

.myStyle {
    width: 100%;
    padding: 25px;
    color: white;
    font-size: 25px;
    background-color: coral;
}