body{
    background-color: black;
}
.card-sec {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.box {
    /* width: 50%; */
    height: 200px;
    border: 1px solid tomato;
}

.box-1 {
    background-color: bisque;
}

.box-2 {
    background-color: rgb(111, 233, 74);
}

.box-3 {
    background-color: rgb(146, 29, 255);
}

.box-4 {
    background-color: rgb(85, 2, 2);
}

@media screen and (max-width : 1000px) {
    body{
        background-color: brown;
    }
    .card-sec {
        border: 1px dashed black;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width : 700px) {
    body{
        background-color: rgb(212, 255, 20);
    }
    .card-sec {
        border: 1px dashed black;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width : 400px) {
    body{
        background-color: rgb(255, 20, 20);
    }
    .card-sec {
        border: 1px dashed black;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}